/*Importe de fuentes Raleway y Urbanist*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


html {
    background-color: #F6EFFF;
}

body {
    background-color: #F6EFFF !important;
}

.navbar {
    height: 4rem;
}

.index-header {
    justify-content: space-around;

    background-color: #8e8585;
}

section {
    margin: 3rem auto;
}

.btn-login {
    color: #462470;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0 1rem;
    text-decoration: none;
    transition: all 0.2s ease;
}

.btn-login:hover {
    color: #7453BB;
}

.btn-sign-up {
    background-color: #8265C1;
    color: white;
    padding: 0.5rem;
    margin: 0 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.btn-sign-up:hover {
    background-color: #7453BB;
}

.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 45rem;

    background-image: url('../img/Index-bg-design.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.index-main button {
    width: 10rem;
    height: 4rem;
    text-align: center;

    background-color: #7453BB;
    color: white;
    border: 0.15rem solid #A57AFF;
    border-radius: 0.5rem;
}

.index-main button a {
    color: white;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.4rem;
    text-decoration: none;
}

.container {
    margin: 20rem 0;
}


.container-img {
    width: 75%;
    height: 20rem;
    margin: 0 auto;

    background-color: #cecece;
}

.index-section h2 {
    font-size: 2.5rem;
}

.index-section p {
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 2rem 0;
}



footer {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

    background-color: #000000;
}