@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --negro:#000;
    --sidebar-color: #d4d4d4;
    --primary-color: #9c2780;
    --primary-color-light: #9b27b00d;
    --toggle-color: #ddd;
    --text-color: #707070;

    -tran-03: all 0.2s ease;
    -tran-04: all 0.3s ease;
    -tran-05: all 0.4s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    width: 100vmax;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-size: 16px; /* 1rem = 10px */
    
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}


.all-container {
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border-radius: 1rem;
    flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
    overflow: hidden; /* Evita que el contenido se desborde */
    position: relative;

    /*Imagen de fondo*/
    background-image: url('../img/Login-bg.png');
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 1200px) {
    .all-container {
        display: block;
    }   
}

main {
    margin: 6rem 0;
}

.header { /* Este mismo header que esta en el login, se usa para el register, ahorrando de hacer uno nuevo. */
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #8265C1;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.826);
}

.btn-return {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem;
}

.btn-return img {
    width: 100%;
    height: 100%;
}

.logo-container {
    width: 3.5rem;
    height: 70%;
    border-radius: 100%;
    margin: 0 1rem;
}

.logo-container img {
    width: 100%;
    height: 100%;
    margin: 0;
}


header a {
    margin: 0 5rem 0 auto;

    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
}

section {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Alinea los elementos horizontalmente al centro */
    justify-content: center; /* Alinea los elementos verticalmente al centro */
}

/* Contenedor de todo el Login. */
.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Asegura que los elementos hijos se apilen verticalmente */
}

.login-section {
    margin: 0;
}   

.login-img {
    width: 9rem; 
    height: 9rem;
     position: absolute; 
     left: 70%; 
     top: 4rem;
}

section p {
    color: white;
    font-size: 2rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    line-height: 3rem;
    text-align: left;
    width: 80%;
    margin: 4rem auto;
}

@media (max-width: 1200px) {
    section {
        margin: 0 auto;
        text-align: center;
    }
    
    section p {
        width: 80%;
        margin: 3rem auto;
    }   

    .login-img {
        position: relative;
        left: 0;
        top: 0;
    }

    .login-section {
        margin: 0 auto;
    }   

    .all-container {
        width: 100%;
        height: 100vh;
        margin: 0;
        text-align: center;
    }
}

.main-left-section {
    margin: 0;
    width: 80%;
}


/* Formulario Login */
.form {
    height: 100%;
    width: min(60rem, 100%);
     max-width: 100%; /* Asegura que el formulario no se salga del contenedor */
    display: flex;
    justify-content: center;
    margin: 2rem 0 0 0;

    border-radius: 2.4rem;
}

@media (max-width: 1200px) {
    .form {
        margin: 0 auto;
        width: 90%;
    }
}

.form fieldset {
    border: none;
    width: 100%;
    text-align: center;
    padding: 0;
}

.field label {
    font-size: 1.6rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    display: block;
    margin-right: auto;
}

.container-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field /* Contenedor de inputs. Incluye los labels. */ {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.input {
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
    width: 100%;
    height: 3.5rem;
}

.btn-login {
    width: 65%;
    padding: .8rem;
    margin: 2rem;
    border: none;
    border-radius: 2rem;
    background-color: #7453BB;
    color: white;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.btn-register {
    font-size: 1.6rem;
    margin: 0 auto;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #462470;
}

footer {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #8265C1;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1.4rem;
}



/* Utilidades */

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}


/*-----------------Clases customizadas de Sweetalert ---------------------*/

.swal2-popup {
    font-size: 1.6rem; /* Tamaño de fuente general del popup */
}

.swal2-title {
    font-size: 2.4rem; /* Tamaño de fuente del título */
}

.swal2-content {
    font-size: 1.8rem; /* Tamaño de fuente del contenido */
}

.swal2-confirm, .swal2-cancel {
    font-size: 1.6rem; /* Tamaño de fuente de los botones */
}