/*Importe de fuentes Raleway y Urbanist*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --negro:#000;
    --sidebar-color: #d4d4d4;
    --primary-color: #9c2780;
    --primary-color-light: #9b27b00d;
    --toggle-color: #ddd;
    --text-color: #707070;

    -tran-03: all 0.2s ease;
    -tran-04: all 0.3s ease;
    -tran-05: all 0.4s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    width: 100vmax;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-size: 16px; /* 1rem = 10px */
    
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    transition: var(--tran-05);
    transition: margin-left 0.3s ease; /* Transición para el margen del cuerpo */
}

/* --------------------------------------------- LOGIN --------------------------------------------- */

.mainContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que ocupe al menos el 100% del viewport */
    padding-top: 7rem; /* Ajusta este valor según la altura de tu navbar */
}

.containerLogin {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

@media (max-width: 1080px) {
    .mainContainer {
        display: block;
    }   
}

main {
    margin: 6rem 0 4rem 0;
}

.header { /* Este mismo header que esta en el login, se usa para el register, ahorrando de hacer uno nuevo. */
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #2b2b2b;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.826);
}

.container-logo {
    width: 3.5rem;
    height: 70%;
    border-radius: 100%;
    margin: 0 1rem;
}

.container-logo img {
    width: 100%;
    height: 100%;
    margin: 0;
}

header a {
    margin: 0 5rem 0 auto;

    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
}

.returnButton {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem;
}

.returnButton img {
    width: 100%;
    height: 100%;
}

section {
    width: 62rem;
    margin: 0 0 0 8rem;
}

section h1 {
    font-size: 7rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 8rem 0 0 0;
    width: 70%;
}

section p {
    font-size: 2.3rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    line-height: 2.8rem;
    text-align: left;
    width: 80%;
    margin: 3rem auto;
}

@media (max-width: 1200px) {
    section {
        margin: 0 auto;
        text-align: center;
    }

    section h1 {
        text-align: center;
        margin: 0 auto;
    }
}


.login-section {
    margin: 0 auto;
    margin: 6rem 8rem 0 0;
}

/* Formulario Login */
.formulario {
    height: 50rem;
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    background-color: #d9d9d9;
    border-radius: 2.4rem;
}

@media (max-width: 1200px) {
    .formulario {
        width: 90%;
    }

    .containerLogin {
        display: block;
    }

    .login-section {
        margin: 0 auto;
    }
}

.formulario fieldset {
    border: none;
    width: 100%;
}

.formulario legend {
    text-align: center;
}

legend img {
    width: 95%;
    height: 11.5rem;
    margin: 0 auto;
}

fieldset .appName {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

    display: block;
    text-align: center;
}

.campo label {
    font-size: 1.8rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    display: block;
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo /* contenedor de los inputs */{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.input {
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
}

.btn-iniciaSesion {
    width: 90%;
    padding: .8rem;
    margin: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: #2b2b2b;
    color: white;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.linea {
    width: 100%;
    height: .15rem;
    background-color: #a7a7a7;

    margin: 2rem 0;
}

.registrarse {
    font-size: 2rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

/* --------------------------------------------- SIDEBAR --------------------------------------------- */


.sidebar {
    width: 25rem; /* Ancho ajustado */
    height: 100vh;
    background-color: #121212; /* Color de fondo del sidebar */
    position: fixed;
    top: 0;
    left: -350px; /* Empieza fuera de la pantalla */
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow-y: auto; /* Añadir scroll si el contenido es demasiado grande */
    overflow-x: hidden; /* Esconde el scroll horizontal */
}



.sidebar * {
    color: white;
}

.sidebar.open {
    left: 0
}

body.sidebar-open {
    margin-left: 25rem; /* Mueve el contenido del cuerpo cuando el sidebar está abierto */
}

.sidebar a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no haga que los elementos se salgan */
    font-size: 1.4rem;
    text-align: left;
    transition: all 0.2s;
    font-weight: normal;
}

.sidebar a:hover {
    background-color: #333; /* Fondo al pasar el ratón */
    box-sizing: border-box;
}
  
  .toggle-btn {
    display: flex;
    align-items: center; /* Alinea verticalmente el botón de menú hamburguesa */
    justify-content: center; /* Alinea horizontalmente el botón de menú hamburguesa */
    width: 4rem;
    height: 4rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1001;
  }

  summary:hover {
    background-color: #333;
  }

  .dropdown-content {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: transparent;
    transition: all 0.2s;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content ul {
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    border-bottom: 1px solid transparent; /* Línea separadora entre elementos */
    background-color: transparent;
}

.dropdown-content a {
    display: block;
    padding: 10px 30px; /* Sangría a la derecha */
    font-weight: normal;
    box-sizing: border-box; /* Asegura que el padding no haga que los elementos se salgan */
    color: white;
    text-decoration: none;
    margin: 0;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #1c1c1c;
    position: relative;
    padding: 15px 20px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.4rem;
    border: none;
}

.dropdown-toggle::after {
    content: none !important;
}

.dropdown-icon {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    cursor: pointer;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.dropdown-content li {
    border-bottom: 1px solid transparent;
}

.dropdown-content a {
    display: block;
    padding: 10px 30px;
    font-weight: normal;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-content a:hover {
    background-color: #333;
    transition: all 0.2s;
}

.dropdown-toggle:hover {
    background-color: #333; /* Fondo al pasar el ratón */
    transition: all 0.2s;
}

/*Dropdown 2*/

.dropdown-content2 {
    flex-direction: column;
    width: 100%;
    background-color: transparent !important; /* Fondo de los dropdowns */
    display: none;
    transition: all 0.2s;
}

.dropdown-content2.show {
    display: block;
}

.dropdown-content2 ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

.dropdown-content2 li {
    border-bottom: 1px solid #333; /* Línea separadora entre elementos */
}

.dropdown-content2 a {
    display: block;
    padding: 10px 30px; /* Sangría a la derecha */
    font-weight: normal;
    box-sizing: border-box; /* Asegura que el padding no haga que los elementos se salgan */
    color: white;
    text-decoration: none;
}

.dropdown-content2 a:hover {
    background-color: #333; /* Fondo al pasar el ratón */
    transition: all 0.2s;
}


.dropdown-toggle2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #1c1c1c;
    position: relative;
    padding: 15px 20px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.4rem;
    border: none;
    content: none;
}

.dropdown-toggle2::before {
    display: none;
}

.dropdown-icon2 {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    cursor: pointer;
}

.dropdown-content2 {
    flex-direction: column;
    width: 100%;
    background-color: #1c1c1c;
    display: none;
}

.dropdown-content2.show {
    display: block;
}

.dropdown-content2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content2 li {
    border-bottom: 1px solid transparent;
}

.dropdown-content2 a {
    display: block;
    padding: 10px 30px;
    font-weight: normal;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

.dropdown-content2 a:hover {
    background-color: #333;
    transition: all 0.2s;
}

.dropdown-toggle2:hover {
    background-color: #333; /* Fondo al pasar el ratón */
    transition: all 0.2s;
}

/* --------------------------------------------- SIDEBAR --------------------------------------------- */


/* --------------------------------------------- INDEX --------------------------------------------- */

.headerIndex {
    width: 100%;
    height: 7rem;
    justify-content: space-around;

    background-color: #8e8585;
}

.containerLogoNameIndex {
    width: 22rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLogoNameIndex img {
    width: 4rem;
    height: 4rem; 
    margin: 1rem;
}

.containerLogoNameIndex h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}  
/**/
.containerBtnIndex {
    width: 30rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #3f3030;
}


/* --------------------------------------------- Pestaña Principal (Despues del Login) --------------------------------------------- */


.sectionAccesosRecientes {
    margin: 0 auto;
    width: 80%;
    height: 35rem;
    display: flex;
    align-items: center;
    overflow-x: auto; /* Permite el deslizamiento horizontal */
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    align-items: center;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
}

.slider-item {
    position: relative; /* Necesario para que los pseudo-elementos se posicionen correctamente */
    margin: 0 2rem;
    min-width: 50rem;
    height: 90%;
    text-align: center;
    background-color: #ddd;
    border-radius: 2rem;
}

.slider-item::before,
.slider-item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4rem; /* Ajusta la altura según sea necesario */
    background-color: #000;
}

.slider-item::before {
    top: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.slider-item::after {
    bottom: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.sectionProximasReservas {
    width: 80%;
    height: 50rem;
    margin: 3rem auto;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#itemReserva {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #99c6e8;
    margin: 2rem 0;
}

#itemReserva p {
    font-size: 2rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 80%;
    margin: 1rem auto;
}

.sectionObtenerReserva {
    border-top: 1px solid black;
}

/* --------------------------------------------- Gestion de Reservas --------------------------------------------- */

.sectionItemsReserva {
    width: 80%;
    height: 65rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: repeat(2, 1fr); /* Dos filas */
    gap: 0.1rem; /* Espacio entre los elementos */
    place-items: center;

}

.itemsGestionarReserva {
    width: 80%;
    height: 90%;
    margin: 1rem;
    position: relative;
    border-radius: 2rem;

    background-color: #d9d9d9;
}

.pGestionarReserva {
    margin: 0 auto;
    display: inline-block;

    font-size: 2rem; 
    color: #ffffff; 
    position: relative;
     left: 50%; 
     top: 95%; 
     transform: translate(-50%, -50%);
     z-index: 1;  
}

.itemsGestionarReserva::before,
.itemsGestionarReserva::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3rem; /* Ajusta la altura según sea necesario */
    background-color: #000;
}

.itemsGestionarReserva::before {
    top: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.itemsGestionarReserva::after {
    bottom: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

@media (max-width: 768px) {
    .sectionItemsReserva {
        display: block;
    }

    .itemsGestionarReserva {
        width: 80%;
        height: 50%;
        margin: 1rem auto;
    }

    .pGestionarReserva {
        left: 70%;
        display: inline-block;
    }
}


/* --------------------------------------------- Mis reservas --------------------------------------------- */

.sectionBuscarReservas {
    width: 100%;
    height: 4.5rem;
    margin: 0 auto;
}

.inputBusqueda {
    width: 80%;
    height: 4.5rem;
    margin: 0 3rem 0 5rem;
    padding: 0 1rem;
    border: 3px solid #d9d9d9;
    border-radius: 3rem;
    outline: none;

    font-size: 1.6rem;
}

.btnLupaBusqueda {
    width: 3rem; 
    height: 3rem; 
    margin: 0 1rem;
}

.btnAnadir2 {
    width: 3rem; 
    height: 3rem;
    margin: 0 2rem;
}

.sectionListadoReservas {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

.containerBtnCargarTodas {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnCargarTodas {
    width: 40%;
    height: 4rem;
    margin: 2rem 0;
    background-color: #000;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .sectionBuscarReservas fieldset {
        display: flex;
    }
}

/* --------------------------------------------- Todas las reservas --------------------------------------------- */

.btnFiltrarPor {
    font-size: 3rem; 
    margin: 5rem 5rem 2rem 5rem; 
    font-weight: 700;
    border: none;
    background-color: transparent;
}

.containerBtnDescargarListado {
    display: flex;
    justify-content: right;
    width: 100%;
}

.btnDescargarListado {
    width: 20%;
    height: 5.5rem;
    margin: 2rem;
    background-color: #000;
    color: white;
    font-size: 1.8rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

.dropdown-filtrar-por-container {
    position: relative;
}

.dropdown-content-filtrar {
    display: none;
    position: absolute;
    background-color: #9b9b9b;
    color: black;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 2rem;
    border-radius: 1rem;
}

.dropdown-content-filtrar.show {
    display: block;
    margin: 0 5rem;
}

.dropdown-content-filtrar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.dropdown-content-filtrar li {
    padding: 0.5rem 0;
}

.dropdown-content-filtrar li a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
}

.dropdown-content-filtrar li a:hover {
    background-color: #ddd;
}

/*Dropdown del nodo <a> llamado "Mes especifico"*/

.dropdown-mes-especifico {
    position: relative;
}

.dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0 ; /* Asegura que el submenú esté alineado con el menú principal */
    background-color: #9b9b9b;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1rem;
}

.dropdown-mes-especifico.active .dropdown-submenu {
    display: block;
}

/* --------------------------------------------- Crear nueva reserva --------------------------------------------- */

.sectionCrearReserva {
    width: 80%;
    margin: 0 auto;
}

.formCrearReserva {
    width: 100%;
    height: 40rem;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.time-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.formCrearReserva input,
.formCrearReserva select,
.formCrearReserva textarea {
    width: 80%;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.8rem;
    border-top: 3px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
    border-left: 6px solid #d9d9d9;
    border-right: 6px solid #d9d9d9;
    border-radius: 2rem;
}

.formCrearReserva label {
    font-size: 1.6rem;
}

textarea {
    resize: none;
    height: 5rem;
}

.sectionVistaPrevia {
    width: 90%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.sectionVistaPrevia p {
    margin: 0 5rem;
    font-weight: bold;
}

.sectionVistaPrevia2 {
    width: 90%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;

    border-bottom: 1px solid #000;
}

.sectionBtnEnviar-crearReserva { /*Contenedor de los dos botones de abajo*/
    width: 100%;
    height: 5rem;
    margin: 4rem auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.btnImg{ /*Boton contenedor de la imagen*/
    width: 4rem;
    height: 4rem;

    background-color: transparent;
    border: none;
}

.btnEnviar-crearReserva { /*Boton Enviar*/
    width: 10%;
    height: 4rem;
    margin: 0 2rem;

    background-color: #000;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 2.5rem;
}

.h1VistaPrevia {
    font-size: 4rem; 
    margin: 2rem 10rem; 
    font-weight: 500; 
    display: inline-block;
}

.sectionBtnEnviar-crearReserva button img{ /*Ajusta el tamaño de la imagen al 100% del boton*/
    width: 100%;
    height: 100%;
}

@media (max-width: 1080px) {
    .formCrearReserva {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .formCrearReserva .form-group {
        width: 100%;
    }

    .formCrearReserva input,
    .formCrearReserva select,
    .formCrearReserva textarea {
        width: 100%;
        margin: 1rem 0;
    }

    .sectionVistaPrevia {
        margin: 4rem auto;
    }

    .h1VistaPrevia {
        margin: 15rem 0 0 5rem ;
    }
}

.btnAnadirOtro {
    width: 20%;
    height: 4rem;
    margin: 0 2rem;
    align-self: right;

    background-color: #000;
    color: white;
    font-size: 1.6rem;
    font-weight: normal;
    border: none;
    border-radius: 2.5rem;
}



/* --------------------------------------------- Calendario --------------------------------------------- */

.calendar-container {
    display: flex;
    width: 90rem;
    height: 50rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 auto;
}

.calendar-section {
    width: 60%;
    background-color: #e0e0e0;
    padding: 2rem;
    font-size: 1.8rem;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header h2 {
    font-size: 3rem;
    font-weight: normal;
}

.arrow {
    background: none;
    border: none;
    font-size: 20px;
}

.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    text-align: center;
    padding: 1rem 0;
    border-radius: 5px;
}

.calendar td {
    color: #666;
}

.prev-month {
    color: #ccc;
}

.selected {
    border: 2px solid #333;
}

.info-section {
    width: 50%;
    background-color: #666;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-section h2, .info-section p {
    margin: 0;
}

.info-section {
    font-size: 3rem;
}

.info-section h2 {
    font-size: 5rem;
    font-weight: normal;
}

.reservation-details {
    background-color: #888;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    position: relative;
    display: flex;
    align-items: center ;
    height: 15%;
}

.more-details {
    background: none;
    border: none;
    color: #fff;
    text-align: right;
    cursor: pointer;
}

.add-reservation {
    width: 60%;
    align-self: flex-end;
    background-color: transparent;
    color: white;
    font-weight: 800;
    border: 0.5rem solid white;
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 2rem;
}



/* Utilidades */

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
