/*Importe de fuentes Raleway y Urbanist*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --negro:#000;
    --sidebar-color: #d4d4d4;
    --primary-color: #9c2780;
    --primary-color-light: #9b27b00d;
    --toggle-color: #ddd;
    --text-color: #707070;

    -tran-03: all 0.2s ease;
    -tran-04: all 0.3s ease;
    -tran-05: all 0.4s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    width: 100vmax;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-size: 16px; /* 1rem = 10px */
    
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    transition: var(--tran-05);
    transition: margin-left 0.3s ease; /* Transición para el margen del cuerpo */
}

/* --------------------------------------------- LOGIN --------------------------------------------- */

.mainContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que ocupe al menos el 100% del viewport */
    padding-top: 7rem; /* Ajusta este valor según la altura de tu navbar */
}

.containerLogin {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    min-height: 100vh; /* Asegura que ocupe al menos el 100% del viewport */
}



@media (max-width: 1200px) {
    .mainContainer {
        display: block;
    }   
}

main {
    margin: 6rem 0 4rem 0;
}

.header {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #2b2b2b;
    box-shadow: 0 .2rem 5rem black;
}

.container-logo {
    width: 5rem;
    height: 70%;
    border-radius: 100%;
    margin: 0 1rem;
}

.container-logo img {
    width: 100%;
    height: 100%;
    margin: 0;
}

header a {
    margin: 0 5rem 0 auto;

    font-size: 2rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
}

.returnButton {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}

.returnButton img {
    width: 100%;
    height: 100%;
}

section {
    width: 62rem;
    margin: 0 0 0 8rem;
}

section h1 {
    font-size: 7rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 8rem 0 0 0;
    width: 70%;
}

section p {
    font-size: 2.3rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    line-height: 2.8rem;
    text-align: left;
}

@media (max-width: 1200px) {
    section {
        margin: 0 auto;
        text-align: center;
    }
    
    section p {
        width: 80%;
        margin: 3rem auto;
    }   

    section h1 {
        text-align: center;
        margin: 0 auto;
    }
}


.login-section {
    margin: 0;
}

@media (max-width: 1200px) {
    .login-section {
        margin: 0 auto;
    }   
}


/* Formulario Login */
.formulario {
    height: 46rem;
    width: 90%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 6rem 8rem 0 0;

    background-color: #d9d9d9;
    border-radius: 2.4rem;
}

@media (max-width: 1200px) {
    .formulario {
        width: 90%;
        height: 45rem;
    }

    .containerLogin {
        display: block;
    }
}

.formulario fieldset {
    border: none;
    width: 100%;
}

.formulario legend {
    text-align: center;
}

legend img {
    width: 95%;
    height: 11.5rem;
    margin: 0 auto;
}

fieldset .appName {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

    display: block;
    text-align: center;
}

.campo label {
    font-size: 1.8rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    display: block;
}

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo /* contenedor de los inputs */{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.input {
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
}

.btn-iniciaSesion {
    width: 90%;
    padding: .8rem;
    margin: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: #2b2b2b;
    color: white;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.linea {
    width: 100%;
    height: .15rem;
    background-color: #a7a7a7;

    margin: 2rem 0;
}

.registrarse {
    font-size: 2rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

/* --------------------------------------------- SIDEBAR --------------------------------------------- */


.sidebar {
    width: 15%; /* Ancho ajustado */
    height: 100vh;
    background-color: #121212; /* Color de fondo del sidebar */
    position: fixed;
    top: 0;
    left: -350px; /* Start off-screen */
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
    overflow-y: auto; /* Añadir scroll si el contenido es demasiado grande */
    overflow-x: hidden;
}

.sidebar * {
    color: white;
}

.sidebar.open {
    left: 0
}

body.sidebar-open {
    margin-left: 15%; /* Mueve el contenido del cuerpo cuando el sidebar está abierto */
}

.sidebar a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no haga que los elementos se salgan */
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
}

.sidebar a:hover {
    background-color: #333; /* Fondo al pasar el ratón */
    box-sizing: border-box;
}
  
  .toggle-btn {
    display: flex;
    align-items: center; /* Alinea verticalmente el botón de menú hamburguesa */
    justify-content: center; /* Alinea horizontalmente el botón de menú hamburguesa */
    width: 4rem;
    height: 4rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1001;
  }

  summary:hover {
    background-color: #333;
  }

  .dropdown-content {
    flex-direction: column;
    width: 100%;
    background-color: #1c1c1c; /* Fondo de los dropdowns */
    display: none;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    border-bottom: 1px solid #333; /* Línea separadora entre elementos */
    background-color: transparent;
}

.dropdown-content a {
    display: block;
    padding: 10px 30px; /* Sangría a la derecha */
    font-weight: normal;
    box-sizing: border-box; /* Asegura que el padding no haga que los elementos se salgan */
    color: white;
    text-decoration: none;
}


.dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #1c1c1c;
    position: relative;
    padding: 15px 20px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
}

.dropdown-toggle::after {
    content: none !important;
}

.dropdown-icon {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    cursor: pointer;
}

.dropdown-content {
    flex-direction: column;
    width: 100%;
    background-color: #1c1c1c;    
}

.dropdown-content.show {
    display: block;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    border-bottom: 1px solid transparent;
}

.dropdown-content a {
    display: block;
    padding: 10px 30px;
    font-weight: normal;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown-toggle:hover {
    background-color: #333; /* Fondo al pasar el ratón */
}

/*Dropdown 2*/

.dropdown-content2 {
    flex-direction: column;
    width: 100%;
    background-color: #1c1c1c; /* Fondo de los dropdowns */
    display: none;
}

.dropdown-content2.show {
    display: block;
}

.dropdown-content2 ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

.dropdown-content2 li {
    border-bottom: 1px solid #333; /* Línea separadora entre elementos */
}

.dropdown-content2 a {
    display: block;
    padding: 10px 30px; /* Sangría a la derecha */
    font-weight: normal;
    box-sizing: border-box; /* Asegura que el padding no haga que los elementos se salgan */
    color: white;
    text-decoration: none;
}

.dropdown-content2 a:hover {
    background-color: #333; /* Fondo al pasar el ratón */
}


.dropdown-toggle2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #1c1c1c;
    position: relative;
    padding: 15px 20px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
    content: none;
}

.dropdown-toggle2::before {
    display: none;
}

.dropdown-icon2 {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    cursor: pointer;
}

.dropdown-content2 {
    flex-direction: column;
    width: 100%;
    background-color: #1c1c1c;
    display: none;
}

.dropdown-content2.show {
    display: block;
}

.dropdown-content2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content2 li {
    border-bottom: 1px solid transparent;
}

.dropdown-content2 a {
    display: block;
    padding: 10px 30px;
    font-weight: normal;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

.dropdown-content2 a:hover {
    background-color: #333;
}

.dropdown-toggle2:hover {
    background-color: #333; /* Fondo al pasar el ratón */
}

/* --------------------------------------------- SIDEBAR --------------------------------------------- */


/* --------------------------------------------- Pestaña Principal --------------------------------------------- */


.sectionAccesosRecientes {
    margin: 0 auto;
    width: 80%;
    height: 35rem;
    display: flex;
    align-items: center;
    overflow-x: auto; /* Permite el deslizamiento horizontal */
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    align-items: center;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
}

.slider-item {
    position: relative; /* Necesario para que los pseudo-elementos se posicionen correctamente */
    margin: 0 2rem;
    min-width: 50rem;
    height: 90%;
    text-align: center;
    background-color: #ddd;
    border-radius: 2rem;
}

.slider-item::before,
.slider-item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 4rem; /* Ajusta la altura según sea necesario */
    background-color: #000;
}

.slider-item::before {
    top: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.slider-item::after {
    bottom: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.sectionProximasReservas {
    width: 80%;
    height: 50rem;
    margin: 3rem auto;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.itemReserva {
    width: 100%;
    height: 10rem;
    background-color: #d9d9d9;

    margin: 1.5rem 0;
}

/* --------------------------------------------- Gestion de Reservas --------------------------------------------- */

.sectionItemsReserva {
    width: 80%;
    height: 65rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: repeat(2, 1fr); /* Dos filas */
    gap: 0.1rem; /* Espacio entre los elementos */
    place-items: center;

}

.itemsGestionarReserva {
    width: 80%;
    height: 90%;
    margin: 1rem;
    position: relative;
    border-radius: 2rem;

    background-color: #d9d9d9;
}

.itemsGestionarReserva::before,
.itemsGestionarReserva::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3rem; /* Ajusta la altura según sea necesario */
    background-color: #000;
}

.itemsGestionarReserva::before {
    top: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.itemsGestionarReserva::after {
    bottom: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/* --------------------------------------------- Mis reservas --------------------------------------------- */

.sectionBuscarReservas {
    width: 100%;
    height: 4.5rem;
    margin: 0 auto;
}

.inputBusqueda {
    width: 80%;
    height: 4.5rem;
    margin: 0 3rem 0 5rem;
    padding: 0 1rem;
    border: 3px solid #d9d9d9;
    border-radius: 3rem;
    outline: none;

    font-size: 1.6rem;
}

.sectionListadoReservas {
    width: 95%;
    min-height: 100vh;
    margin: 0 auto;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.containerBtnCargarTodas {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btnCargarTodas {
    width: 40%;
    height: 4rem;
    margin: 2rem 0;
    background-color: #000;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}

/* --------------------------------------------- Crear nueva reserva --------------------------------------------- */

.sectionCrearReserva {
    width: 80%;
    margin: 0 auto;
}

.formCrearReserva {
    width: 100%;
    height: 40rem;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.time-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.formCrearReserva input,
.formCrearReserva select,
.formCrearReserva textarea {
    width: 80%;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.8rem;
    border-top: 3px solid #d9d9d9;
    border-bottom: 3px solid #d9d9d9;
    border-left: 6px solid #d9d9d9;
    border-right: 6px solid #d9d9d9;
    border-radius: 2rem;
}

.formCrearReserva label {
    font-size: 1.6rem;
}

textarea {
    resize: none;
    height: 5rem;
}

.sectionVistaPrevia {
    width: 90%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.sectionVistaPrevia p {
    margin: 0 5rem;
    font-weight: bold;
}

.sectionVistaPrevia2 {
    width: 90%;
    height: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;

    border-bottom: 1px solid #000;
}

.sectionBtnEnviar-crearReserva { /*Contenedor de los dos botones de abajo*/
    width: 100%;
    height: 5rem;
    margin: 4rem auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.btnImg{ /*Boton contenedor de la imagen*/
    width: 4rem;
    height: 4rem;

    background-color: transparent;
    border: none;
}

.btnEnviar-crearReserva { /*Boton Enviar*/
    width: 10%;
    height: 4rem;
    margin: 0 2rem;

    background-color: #000;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    border: none;
    border-radius: 2.5rem;
}

.sectionBtnEnviar-crearReserva button img{ /*Ajusta el tamaño de la imagen al 100% del boton*/
    width: 100%;
    height: 100%;
}



/* Utilidades */

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}
